@using Afsw.Command.Templates.TemplateModels
@model PostTemplateModel

<!DOCTYPE html>
<html>
<body>
    <header><h1>@Model.Name</h1></header>
    <content>
        @Model.Content
    </content>
    <footer>@Model.AuthorName</footer>
</body>
</html>